*.cof
*.hex
*.map
*.mcs
*.pyc
build
dist
nbproject/private
nbproject/Makefile-default.mk
nbproject/Makefile-genesis.properties
nbproject/Makefile-impl.mk
nbproject/Makefile-local-default.mk
nbproject/Makefile-variables.mk
nbproject/Package-default.bash
